{% extends 'base.html.twig' %}

{% block title %}Show Articles!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
{#    <h1>Hello {{ controller_name }}! ✅</h1>#}
    {% for article in articles %}
    <ul>
        <li><a href="{{ path('details',{'id': article.id}) }}">id: {{  article.id }} </a></li>
        <li>title: {{  article.title }}</li>
        <li>description: {{  article.description }}</li>
        <li>image:<img src="{{  article.linkImage }}"></li>
        <li>comment:{{  article.comments|length }}</li>

    </ul>
        <br/>
    {% endfor %}



    <ul>
        {%  for page in pages %}
      <a href="{{ app.request.pathinfo }}?page={{ page }}">{{ page }}</a>
        {%  endfor %}
    </ul>
    <h5>page count: {{  pagesCount }}</h5>
</div>
{% endblock %}
