{% extends 'base.html.twig' %}

{% block title %}Create Article !{% endblock %}

{% block body %}

{#    {% if error %}#}
{#        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#    {% endif %}#}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    {{ form_start(form) }}
    <div class="form-control">
        <i class="fa fa-calendar"></i> {{ form_label(form.title) }}
        {{ form_widget(form.title) }}

        <small>{{ form_help(form.title) }}</small>

        <div class="form-error">
            {{ form_errors(form.title) }}
        </div>
    </div>
<br/>
    <div class="form-control">
        <i class="fa fa-calendar"></i> {{ form_label(form.description) }}
        {{ form_widget(form.description) }}

        <small>{{ form_help(form.description) }}</small>

        <div class="form-error">
            {{ form_errors(form.description) }}
        </div>
    </div>
<br/>
    <div class="form-control">
        <i class="fa fa-calendar"></i> {{ form_label(form.linkImage) }}
        {{ form_widget(form.linkImage) }}

        <small>{{ form_help(form.linkImage) }}</small>

        <div class="form-error">
            {{ form_errors(form.linkImage) }}
        </div>
    </div>

    <div class="form-control" style="display:none;">
        <i class="fa fa-calendar"></i> {{ form_label(form.comments) }}
        {{ form_widget(form.comments) }}

        <small>{{ form_help(form.comments) }}</small>

        <div class="form-error">
            {{ form_errors(form.comments) }}
        </div>
    </div>
    {{ form_end(form) }}

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}



{% endblock %}
